<h1> Welcome to my SPA-shop! </h1>

<div id="categories"></div>
<div id="category_products"></div>
<div id="product"></div>

<!-- scripts -->

<script type="x-handlebars-template" id="categories-template">
	<h3> Categories </h3>
	<table class="categories_list">
		{{#each this}}
		<tr>
			<td>{{this.name}}</td>
			<td><a href="#" data-category_id={{this.id}} class="showCategoryProducts">View products</a></td>
		</tr>
		{{/each}}
	</table>
</script>

<script type="x-handlebars-template" id="category_products-template">
	<h3> {{category.name}} </h3>
	<h4> List of products </h4>
	<table class="products_list">
		<tr>
			<td><b>Product</b></td>
		</tr>
		{{#each products}}
		<tr>
			<td>{{this.name}}</td>
			<td><a href="#" data-product_id={{this.id}} class="showProduct">View details</a></td>
		</tr>
		{{/each}}
	</table></br>

	<a href="#" class="backToCategories">Back</a>
</script>

<script type="x-handlebars-template" id="product-template">
	<h3> {{this.name}} </h3>
	<p>Price: {{this.price}}$</p>
	<p>Description:</p>
	<p>{{this.description}}</p>

	<a href="#" data-category_id={{this.category_id}} class="backToCategoryProducts">Back</a>
</script>