<h1> Welcome to my SPA-shop! </h1>

<div id="cart_notification"></div>
<div id="cart_button"></div>
<div id="categories"></div>
<div id="category_products"></div>
<div id="product"></div>
<div id="cart"></div>

<!-- scripts -->

<script type="x-handlebars-template" id="categories-template">
	<h3> Categories </h3>
	<table class="categories_list">
		{{#each this}}
		<tr>
			<td>{{this.name}}</td>
			<td><a href="#" data-category_id={{this.id}} class="showCategoryProducts">View products</a></td>
		</tr>
		{{/each}}
	</table>
</script>

<script type="x-handlebars-template" id="category_products-template">
	<h3> {{category.name}} </h3>
	<h4> List of products </h4>
	<table class="products_list">
		<tr>
			<td><b>Product</b></td>
		</tr>
		{{#each products}}
		<tr>
			<td>{{this.name}}</td>
			<td><a href="#" data-product_id={{this.id}} class="showProduct">View details</a></td>
		</tr>
		{{/each}}
	</table></br>

	<a href="#" class="backToCategories">Back</a>
</script>

<script type="x-handlebars-template" id="product-template">
	<h3> {{this.name}} </h3>
	<p>Price: {{this.price}}$</p>
	<p>Description:</p>
	<p>{{this.description}}</p>
	<p><a href="#" data-product_id={{this.id}} class="addProductToCart">Add to cart</a></p>

	<a href="#" data-category_id={{this.category_id}} class="backToCategoryProducts">Back</a>
</script>

<script type="x-handlebars-template" id="cart-template">
	<h3> Your current cart </h3>
	<h4> List of products </h4>
	<table class="products_list">
		<tr>
			<td><b>Product</b></td>
			<td><b>Quantity</b></td>
			<td><b>Price</b></td>
		</tr>
		{{#each items}}
		<tr>
			<td>{{this.product_id}}</td>
			<td>{{this.quantity}}</td>
			<td>{{this.item_price}}$</td>
		</tr>
		{{/each}}
	</table></br>

	<b>Total price:</b>{{this.total_price}}$</br>

	<a href="#" class="backToCategories">Back to Categories</a>
</script>

<script type="x-handlebars-template" id="cart_button-template">
	<a href="#" class="showCartButton">Go to cart</a>
</script>

<script type="x-handlebars-template" id="cart_notification-template">
	{{#if this.empty}}
	<p>Your cart is empty</p>
	{{/if}}
	{{#if this.has_one_item}}
	<p>Your cart contains 1 product</p>
	{{/if}}
	{{#if this.has_many_items}}
	<p>Your cart contains {{this.amount_of_items}} products</p>
	{{/if}}
</script>